@import '../../../assets/styles/global/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
}

.title {
  margin-top: 100px;
  color: $orange200;
}

.todos {
  position: relative;
  width: 84%;
  @media (min-width: $tablet-lg-width) {
    width: 60%;
  }

  @media (min-width: $desktop-md-width) {
    width: 900px;
  }
}
