@import '../../assets/styles/global/variables.scss';
@import '../../assets/styles/global/mixin.scss';

.checkAll {
  position: absolute;
  top: 69px;
  display: flex;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.checkboxMark {
  display: block;
  width: 26px;
  height: 26px;
  transform: rotate(90deg);
}

.checkboxMark:after {
  position: absolute;
  left: -3px;
  width: 26px;
  height: 26px;
  margin: auto;
  color: $grey200;
  content: '❯';

  @media (min-width: $tablet-lg-width) {
    left: 8px;
  }
}

.inputCheck:checked + .checkboxMark:after {
  color: $grey300;
}

.hide {
  display: none;
}
